!!! 5
%html

  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description' , content: '' }
    %meta{ name: 'keywords'    , content: '' }
    %meta{ name: 'author'      , content: 'Nicolas Buduroi' }

    %link{ type: 'text/css', rel: 'stylesheet', href: '/stylesheets/reset.css' }
    %link{ type: 'text/css', rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Nunito:300' }
    %link{ type: 'text/css', rel: 'stylesheet', href: '/stylesheets/screen.css' }

    %title Philo pour enfants

  %body
    #wrapper
      %header
        %img{ src: '/images/ppe.png', alt: 'Philo pour enfants' }
      #content
        TEST
      %footer
        %p#copyright_notice &copy; 2012 Nicolas Buduroi. Tous droits réservés.
