!!! 5
%html

  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description' , content: @description }
    %meta{ name: 'keywords'    , content: @keywords }
    %meta{ name: 'author'      , content: 'Nicolas Buduroi' }

    - @stylesheets.each do |href|
      %link{ type: 'text/css', rel: 'stylesheet', href: href }

    - @javascripts.each do |src|
      %script{ type: 'text/javascript', src: src }

    %title= @title

  %body
    #wrapper
      %header
        %img{ src: '/images/ppe.png', alt: @title }
      #content

        %h2
          Découvrez cette approche fantastique pour les enfants et
          adolescents de tout âge!

        .one

          .one-third-big
            %h3 Anne-Marie Duclos

            %p.justify
              Animatrice, conférencière, formatrice et consultante en
              Philosophie pour enfants.

            %p
              %a{ href: 'mailto:annemarie@philopourenfants.com' }
                annemarie@philopourenfants.com

            %p
              Montréal, Québec

          #definition.two-third
            %p.justify
              Le programme de Philosophie pour enfants a été fondé par le
              grand philo&shy;sophe Matthew Lipman. Dans le but de promouvoir
              l’apprentissage de la pensée critique, créatrice et affective,
              plusieurs romans pour les enfants et adolescents âgés de 3 à
              18 ans ont été bâtis. La méthode est simple et vraiment
              efficace: il s’agit d’abord de lire un conte philosophique, de
              poser des questions et de dialoguer sur un sujet choisi par
              les enfants.

            .more.hidden
              %p.justify
                Les enfants et adolescents philosophent
                naturellement. Leurs nombreu&shy;ses questions, leurs
                interrogations et leurs paroles sont parfois très
                philosophiques. Chaque enfant et adolescent possède ses
                questionne&shy;ments et est doué d’une curiosité propice au
                développement de la pensée. Pour ce faire, les enfants ont
                besoin d’être guidés.

              %p.justify
                L’enfant et l’adolescent sont déjà prêts à philosopher :
                ils n’attendent que l’occasion pour le faire! Des études
                démontrent que la stimulation de la pensée critique et
                créatrice est bénéfique dès le plus jeune âge. Vous
                découvrirez en eux des philosophes extraordinaires,
                surprenants et réfléchis grâce à ce programme qui propose
                des activités et discussions adaptées à leurs âges.

            %a{ href: '#', class: 'show-more pull-right' } en savoir plus
            %br
            %a{ href: '#', class: 'show-less pull-right hidden' } retour

        .horizontal-line

        .one
          .one-third
            %h3 Les bienfaits du programme :

            %ul
              %li Les pensées critique, créatrice et affective
              %li L’autonomie morale et le raisonnement logique
              %li L’estime de soi
              %li L’empathie
              %li La capacité à dialoguer
              %li Les comportements coopératifs
              %li Le jugement moral
              %li La compréhension des émotions

          .one-third
            %h3 Les forfaits :

            %ul
              %li
                Animation 1 heure auprès des enfants (possibilité de 2
                groupes)
              %li
                Conférence ou formation 1 heure (présentation PPT ou
                atelier théorie-exploration)
              %li
                Atelier pour éducatrices et enseignants (2 heures
                théorie-expérimentation, références, activités
                pratiques)
              %li
                Suivi auprès des éducatrices/enseignantes (1 heure de
                planification, rétroaction)
              %li
                Forfait sur mesure aussi disponible.

          .one-third.last
            %h3 Mes expériences :

            %ul
              %li Enseignante au primaire et éducatrice au préscolaire.
              %li
                Maîtrise sur la Philosophie pour enfants et la
                compréhension des émotions chez les enfants de 5 ans.
                Publié aux
                %a{ href: @book_url, target: '_blank' }
                  Presses Académiques Francophones.
              %li Doctorante en Psychopédagogie à l’Université de Montréal.
              %li
                Membre de International Council of Philosophical Inquiry
                with Children (ICPIC)
              %li
                Membre du conseil exécutif de l’Association Québécoise
                de Philosophie pour enfants (AQPE).

        .horizontal-line

        .one
          %h2 La Philosophie pour enfants est une méthode approuvée par l’UNESCO

        .clear

      %footer
        %p.copyright_notice
          &copy; 2012 Textes par Anne-Marie Duclos. Tous droits réservés.
        %p.copyright_notice
          &copy; 2012 Nicolas Buduroi. Tous droits réservés.
