body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px; }

#copyright_notice {
  font-size: 0.8em; }

#wrapper {
  background-color: #f8f2e4; }
  #wrapper footer {
    color: #f8f2e4;
    background-color: #2f2f1e; }

#wrapper {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  #wrapper footer {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2); }

#wrapper {
  margin: auto;
  width: 1000px; }
  #wrapper #content {
    padding: 15px 25px; }
    #wrapper #content p {
      margin: 0 0 15px; }
    #wrapper #content .more {
      width: 970px; }
  #wrapper footer {
    margin-top: 20px;
    padding: 20px 0;
    text-align: center; }

a {
  text-decoration: none; }
  a:link, a:visited, a:active {
    color: #54f; }
  a:hover {
    color: #98f; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.pull-right {
  float: right; }
