// Variables

$font-size: 18px;

$page-width: 1000px;

// Fonts

body {
  font: {
    family: 'Nunito', sans-serif;
    size: $font-size;
  }
}

#copyright_notice {
  font-size: 0.8em;
}

// Colors

#wrapper {
  background-color: #f8f2e4;

  footer {
    color: #f8f2e4;
    background-color: #2f2f1e;
  }
}

// Borders & Shadows

#wrapper {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  footer {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  }
}

// Layout

#wrapper {
  margin: auto;
  width: $page-width;

  #content {
    padding: 15px 25px;

    p { margin: 0 0 15px; }

    .more { width: $page-width - 2 * 15px; }
  }

  footer {
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
  }
}

// Links

a {
  text-decoration: none;

  &:link, &:visited, &:active {
    color: #54f;
  }
  &:hover {
    color: #98f;
  }
}

// Classes

.clear      { clear: both; }
.hidden     { display: none; }
.pull-right { float: right; }
